Repository AdrianMoncada/ecran: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_back, deploy_front

build_back:
  stage: build
  image: maven:latest
  script:
  - cd backend
  - cd api-movie
  - ls
  - mvn clean install
  - ls
  - cd target
  - ls
  artifacts:
    expire_in: 1 week
    paths:
    - backend/api-movie/target/api-movie-0.0.1-SNAPSHOT.jar

deploy_front:
  stage: deploy
  script:
  - npm install --global vercel
  - cd frontend
  - ls
  - vercel pull --yes --environment=production --token=$VERCEL_TOKEN
  - vercel build --prod --token=$VERCEL_TOKEN
  - vercel deploy --prebuilt --prod --token=$VERCEL_TOKEN

api series config
  backend/api-series/src/main/resources/bootstrap.yml
  backend/configs/.idea/.gitignore
  backend/configs/.idea/configs.iml
  backend/configs/.idea/misc.xml
  backend/configs/.idea/modules.xml
  backend/configs/.idea/vcs.xml
  backend/ms-config-server/src/main/resources/application.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Update backend/mongo-init.js
  backend/mongo-init.js
Due: build_back

Update frontend/README.md
  frontend/README.md
Due: deploy_front

testing ci
  .gitlab-ci.yml
Due: none

testing ci
  frontend/README.md
Due: deploy_front

config server
  .idea/.gitignore
  .idea/compiler.xml
  .idea/encodings.xml
  .idea/equipo-01.iml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jarRepositories.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  backend/api-movie/pom.xml
  backend/api-movie/src/main/java/com/dh/movie/ApiMovieApplication.java
  backend/api-movie/src/main/resources/bootstrap.yml
  backend/api-series/src/main/java/com/dh/series/config/RabbitMQConfig.java
  backend/api-series/src/main/java/com/dh/series/events/NewSeriesEventProducer.java
  backend/api-series/src/main/java/com/dh/series/service/SeasonServiceImpl.java
  backend/api-series/src/main/resources/bootstrap.yml
  backend/ms-eureka-server/pom.xml
  backend/ms-eureka-server/src/main/resources/bootstrap.yml
  backend/ms-eureka-server/src/test/java/com/dh/mseurekaserver/MsEurekaServerApplicationTests.java
Due: none

chore: added updateById endpoint and service (with logs)
  backend/api-series/src/main/java/com/dh/series/controller/SerieController.java
  backend/api-series/src/main/java/com/dh/series/service/SeasonServiceImpl.java
  backend/api-series/src/main/java/com/dh/series/service/SerieService.java
Due: none

chore: added exceptions logs
  backend/api-series/src/main/java/com/dh/series/exceptions/ApiExceptionHandler.java
  backend/api-series/src/main/java/com/dh/series/service/SeasonServiceImpl.java
Due: none

Home, hace falta hacerlo responsive
  frontend/Theme.ts
  frontend/public/images/Group12.svg
  frontend/public/images/Icon.svg
  frontend/public/images/home/Bg.svg
  frontend/public/images/home/Profile.svg
  frontend/public/images/home/Section.svg
  frontend/public/images/home/Start.svg
  frontend/public/images/home/Temporal.svg
  frontend/src/assets/carouselTop.json
  frontend/src/components/card/Card.styles.ts
  frontend/src/components/card/Card.tsx
  frontend/src/components/carousel/Carousel.styles.ts
  frontend/src/components/carousel/Carousel.tsx
  frontend/src/pages/_app.tsx
  frontend/src/pages/index.tsx
  frontend/src/styles/Home.styles.ts
Due: deploy_front

filtro de titulo listo
  backend/api-movie/src/main/java/com/dh/movie/controller/MovieController.java
  backend/api-movie/src/main/java/com/dh/movie/model/dto/movie/MovieResponseDTO.java
  backend/api-movie/src/main/java/com/dh/movie/repository/MovieRepository.java
  backend/api-movie/src/main/java/com/dh/movie/service/MovieService.java
Due: none

temporalmente desabilitado eureka y config
  backend/api-movie/src/main/java/com/dh/movie/ApiMovieApplication.java
Due: none

desabilita eureka y config
  backend/api-movie/pom.xml
  backend/api-movie/src/main/resources/bootstrap.yml
Due: none

back to 8080
  backend/api-movie/src/main/java/com/dh/movie/controller/MovieController.java
  backend/api-movie/src/main/resources/bootstrap.yml
Due: none

done
  backend/api-movie/src/main/java/com/dh/movie/ApiMovieApplication.java
  backend/api-movie/src/main/java/com/dh/movie/model/Movie.java
Due: none

Update backend/backend.gitlab-ci.yml, frontend/frontend.gitlab-ci.yml, .gitlab-ci.yml
  .gitlab-ci.yml
  backend/backend.gitlab-ci.yml
  frontend/frontend.gitlab-ci.yml
Due: build_back, deploy_front

Testing pipeline
  frontend/README.md
Due: deploy_front

gateway server + config files
  backend/api-movie/pom.xml
  backend/api-movie/src/main/java/com/dh/movie/ApiMovieApplication.java
  backend/api-movie/src/main/java/com/dh/movie/controller/MovieController.java
  backend/api-movie/src/main/java/com/dh/movie/repository/MovieRepository.java
  backend/api-movie/src/main/java/com/dh/movie/service/MovieService.java
  backend/api-movie/src/main/resources/bootstrap.yml
  backend/api-series/src/main/resources/bootstrap.yml
  backend/ms-gateway-server/src/main/resources/bootstrap.yml
Due: none

Agregando CI a microservicios: eureka, gateway, config
  backend/backend.gitlab-ci.yml
Due: build_back

Modificando orden de deploys en ci
  backend/backend.gitlab-ci.yml
Due: build_back

cambios
  .vscode/settings.json
  frontend/src/components/card/Interestelar.jpg
Due: none

update ci yml
  backend/backend.gitlab-ci.yml
Due: build_back

update configurations
  backend/api-movie/src/main/resources/bootstrap.yml
  backend/ms-config-server/src/main/resources/application.yml
  backend/ms-eureka-server/src/main/resources/bootstrap.yml
  backend/ms-gateway-server/src/main/resources/bootstrap.yml
Due: none

ok
  backend/ms-config-server/src/main/java/com/dh/msconfigserver/BasicController.java
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  build_back: any of: backend/*
  deploy_front: any of: frontend/*
